## Religion
### Association of Religion Data Archives - National Religion Dataset

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

This is a time series dataset. It contains no missing values.

In [2]:
religion_df = pd.read_csv('../datasets/processed/religion/world-religion-project/national-religion-dataset.csv', header=0)
print(f"Records: {len(religion_df)}")

print(religion_df.info())

religion_df.describe()

Records: 1934
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1934 entries, 0 to 1933
Data columns (total 87 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      1934 non-null   int64
 1   cowcode   1934 non-null   int64
 2   ardacode  1934 non-null   int64
 3   iso3      1934 non-null   object
 4   numiso    1934 non-null   int64
 5   country   1934 non-null   object
 6   chrsprot  1934 non-null   int64
 7   chrscat   1934 non-null   int64
 8   chrsorth  1934 non-null   int64
 9   chrsang   1934 non-null   int64
 10  chrsothr  1934 non-null   int64
 11  chrsgen   1934 non-null   int64
 12  judorth   1934 non-null   int64
 13  jdcons    1934 non-null   int64
 14  judref    1934 non-null   int64
 15  judothr   1934 non-null   int64
 16  judgen    1934 non-null   int64
 17  islmsun   1934 non-null   int64
 18  islmshi   1934 non-null   int64
 19  islmibd   1934 non-null   int64
 20  islmnat   1934 non-null   int64
 21  islmalw   1934 non-null   int64
 22  islmahm   1934 non-null   int64
 23  islmothr  1934 non-null   int64
 24  islmgen   1934 non-null   int64
 25  budmah    1934 non-null   int64
 26  budthr    1934 non-null   int64
 27  budothr   1934 non-null   int64
 28  budgen    1934 non-null   int64
 29  zorogen   1934 non-null   int64
 30  hindgen   1934 non-null   int64
 31  sikhgen   1934 non-null   int64
 32  shntgen   1934 non-null   int64
 33  bahgen    1934 non-null   int64
 34  taogen    1934 non-null   int64
 35  jaingen   1934 non-null   int64
 36  confgen   1934 non-null   int64
 37  syncgen   1934 non-null   int64
 38  anmgen    1934 non-null   int64
 39  nonrelig  1934 non-null   int64
 40  othrgen   1934 non-null   int64
 41  sumrelig  1934 non-null   int64
 42  pop       1934 non-null   int64
 43  chprtpct  1934 non-null   float64
 44  chcatpct  1934 non-null   float64
 45  chortpct  1934 non-null   float64
 46  changpct  1934 non-null   float64
 47  chothpct  1934 non-null   float64
 48  chgenpct  1934 non-null   float64
 49  jdorpct   1934 non-null   float64
 50  jdcnpct   1934 non-null   float64
 51  jdrfpct   1934 non-null   float64
 52  jdotpct   1934 non-null   float64
 53  jdgenpct  1934 non-null   float64
 54  issunpct  1934 non-null   float64
 55  isshipct  1934 non-null   float64
 56  isibdpct  1934 non-null   float64
 57  isnatpct  1934 non-null   float64
 58  isalapct  1934 non-null   float64
 59  isahmpct  1934 non-null   float64
 60  islotpct  1934 non-null   float64
 61  isgenpct  1934 non-null   float64
 62  bumahpct  1934 non-null   float64
 63  buthrpct  1934 non-null   float64
 64  buothpct  1934 non-null   float64
 65  bugenpct  1934 non-null   float64
 66  zogenpct  1934 non-null   float64
 67  higenpct  1934 non-null   float64
 68  sigenpct  1934 non-null   float64
 69  shgenpct  1934 non-null   float64
 70  bagenpct  1934 non-null   float64
 71  tagenpct  1934 non-null   float64
 72  jagenpct  1934 non-null   float64
 73  cogenpct  1934 non-null   float64
 74  sygenpct  1934 non-null   float64
 75  angenpct  1934 non-null   float64
 76  norelpct  1934 non-null   float64
 77  otgenpct  1934 non-null   float64
 78  sumpct    1934 non-null   float64
 79  total     1934 non-null   float64
 80  dualrel   1934 non-null   int64
 81  datatype  1934 non-null   int64
 82  sreliab   1934 non-null   int64
 83  rreliab   1934 non-null   int64
 84  reliab    1934 non-null   int64
 85  sourcecd  1934 non-null   int64
 86  version   1934 non-null   float64
dtypes: float64(38), int64(47), object(2)
memory usage: 1.3+ MB
None

,year,cowcode,ardacode,numiso,chrsprot,chrscat,chrsorth,chrsang,chrsothr,chrsgen,...,otgenpct,sumpct,total,dualrel,datatype,sreliab,rreliab,reliab,sourcecd,version
count,1934.000000,1934.000000,1934.000000,1934.000000,1.934000e+03,1.934000e+03,1.934000e+03,1.934000e+03,1.934000e+03,1.934000e+03,...,1934.000000,1934.000000,1934.000000,1934.000000,1934.000000,1934.000000,1934.000000,1934.000000,1934.000000,1.934000e+03
mean,1983.655636,452.140641,125.040331,425.181489,2.060242e+06,5.199000e+06,1.098717e+06,3.848756e+05,7.219215e+05,9.464755e+06,...,0.016302,0.995740,1.012043,0.029990,67.025853,14.093071,17.362461,1.883661,53.434333,1.100000e+00
std,18.769777,259.648782,69.348624,249.586747,9.377198e+06,1.371735e+07,6.649538e+06,2.463556e+06,2.525904e+06,2.262128e+07,...,0.031006,0.090529,0.082711,0.170603,91.793124,27.447012,9.823084,0.595214,90.258585,2.221020e-16
min,1945.000000,2.000000,1.000000,4.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000,0.719300,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.100000e+00
25%,1970.000000,220.000000,66.000000,208.000000,9.792500e+03,4.414250e+04,0.000000e+00,0.000000e+00,0.000000e+00,2.457195e+05,...,0.001000,0.983225,1.000000,0.000000,24.000000,4.000000,10.000000,2.000000,7.000000,1.100000e+00
50%,1985.000000,450.000000,124.000000,414.000000,1.181180e+05,4.212400e+05,4.180000e+02,1.475000e+02,1.749800e+04,1.927634e+06,...,0.004299,0.995700,1.000000,0.000000,24.000000,5.000000,20.000000,2.000000,13.000000,1.100000e+00
75%,2000.000000,663.000000,183.000000,642.000000,9.902012e+05,3.643860e+06,4.076450e+04,1.200000e+04,3.031898e+05,7.570553e+06,...,0.016774,0.999000,1.000000,0.000000,123.000000,8.000000,24.000000,2.000000,83.000000,1.100000e+00
max,2010.000000,990.000000,249.000000,894.000000,1.320402e+08,1.273115e+08,1.028538e+08,2.970580e+07,3.968347e+07,2.331113e+08,...,0.280700,1.727700,1.727700,1.000000,1234.000000,99.000000,35.000000,3.000000,751.000000,1.100000e+00

In [3]:
religion_df.head()

,year,cowcode,ardacode,iso3,numiso,country,chrsprot,chrscat,chrsorth,chrsang,...,otgenpct,sumpct,total,dualrel,datatype,sreliab,rreliab,reliab,sourcecd,version
0,1945,2,234,USA,840,United States of America,66069671,38716742,1121898,2400000,...,0.003899,0.9961,1.0,0,34,2,10,2,13,1.1
1,1950,2,234,USA,840,United States of America,73090083,42635882,3045420,3045420,...,0.004100,0.9959,1.0,0,34,6,28,1,18,1.1
2,1955,2,234,USA,840,United States of America,79294628,46402368,3454916,2572767,...,0.019299,0.9807,1.0,0,134,5,10,2,15,1.1
3,1960,2,234,USA,840,United States of America,90692928,50587880,3334535,2710065,...,0.007599,0.9924,1.0,0,134,2,10,2,13,1.1
4,1965,2,234,USA,840,United States of America,94165803,64761783,4792868,2822149,...,0.003000,0.9970,1.0,0,134,8,28,1,20,1.1

For each country I'll take the major religion and create a boolean predictor for it.

In [10]:
religions_columns = ['chprtpct', 'chcatpct', 'chortpct', 'changpct', 'chothpct', 'jdorpct', 'jdcnpct', 'jdrfpct', 'jdotpct', 'issunpct', 'isshipct', 'isibdpct', 'isnatpct', 'isalapct', 'isahmpct', 'islotpct', 'bumahpct', 'buthrpct', 'buothpct', 'zogenpct', 'higenpct', 'sigenpct', 'shgenpct', 'bagenpct', 'tagenpct', 'jagenpct', 'cogenpct', 'sygenpct', 'angenpct', 'norelpct', 'otgenpct']
religion_df['dominant_religion'] = religion_df[religions_columns].idxmax(axis=1)

# for religion in religions_columns:
#     maj_column_name = f'maj_{religion}'
#     rdi_df[maj_column_name] = (rdi_df['dominant_religion'] == religion).astype(int)


religion_df[['year', 'country', 'dominant_religion']][:20]

    year                   country dominant_religion
0   1945  United States of America          chprtpct
1   1950  United States of America          chprtpct
2   1955  United States of America          chprtpct
3   1960  United States of America          chprtpct
4   1965  United States of America          chprtpct
5   1970  United States of America          chprtpct
6   1975  United States of America          chprtpct
7   1980  United States of America          chprtpct
8   1985  United States of America          chprtpct
9   1990  United States of America          chprtpct
10  1995  United States of America          chprtpct
11  2000  United States of America          chprtpct
12  2005  United States of America          chprtpct
13  2010  United States of America          chprtpct
14  1945                    Canada          chcatpct
15  1950                    Canada          chcatpct
16  1955                    Canada          chcatpct
17  1960                    Canada          chcatpct
18  1965                    Canada          chcatpct
19  1970                    Canada          chcatpct

This dataset is less reliable than the one from the Pew Research Center but give more detailed information about religions in case that it's needed.

I'll take a snapshot of the last year and create a new dataset.

In [11]:
religion_df['year'].value_counts().sort_values(ascending=False)

year
2010    192
2005    190
2000    189
1995    185
1990    158
1985    153
1980    150
1975    143
1970    132
1965    120
1960    106
1955     81
1950     73
1945     62
Name: count, dtype: int64

In [13]:
religion_df_snapshot = religion_df[religion_df['year'] == 2010]
religion_df_snapshot.drop(columns=['year'], inplace=True)
religion_df_snapshot.to_csv('../datasets/processed/religion/world-religion-project/national-religion-dataset-snapshot.csv', index=False)

/var/folders/3c/bf3091xd4h9fj5rvqhp6_05r0000gq/T/ipykernel_93986/4191178000.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  religion_df_snapshot.drop(columns=['year'], inplace=True)